<div class="bet-slip">
  <div class="selected-balls">
    <div class="balls-row">
      <button *ngFor="let ball of selectedBalls" mat-mini-fab class="clear-btn" [style.backgroundColor]="ball.color" (click)="onClickBall(ball)">{{ball.number}}</button>
      <button *ngFor="let unselectedBall of getUnselectedBalls()" mat-mini-fab class="clear-btn" disabled></button>
    </div>
    <form class="bet-form" *ngIf="selectedBalls.length > 0" (ngSubmit)="calculateTotalBetValue()">
      <mat-form-field>
        <mat-label>Bet</mat-label>
        <span matPrefix>{{selectedBalls.length}}x&nbsp;</span>
        <input matInput name="betValue" type="number" min="5" [(ngModel)]="betValue">
        <mat-error >Minimum bet is 5€</mat-error>
        <button mat-raised-button matSuffix color="primary" type="submit">Ok</button>
      </mat-form-field>
    </form>
  </div>
  <div class="bet-total">
    <p>Total: {{totalBetValue}}</p>
    <p>Balance: {{balance}}</p>
  </div>
  <button [disabled]="totalBetValue == 0 || balance < totalBetValue" class="bet-button" mat-raised-button matSuffix color="primary" type="submit" (click)="onClickPlaceBet()">Place bet</button>
</div>


